<div class="block_3">

        <div class="form-header mod">
            <h5>Личный кабинет / Мои проекты</h5> 
            <ul class="cab-menu">
                <li class="active"><a href="#"><img src="/img/ico-profile.png" /></a><img class="hover-arrow" src="/img/cab-menu-hover.png" /></li>
                <li><a href="#"><img src="/img/ico-anketa.png" /></a><img class="hover-arrow" src="/img/cab-menu-hover.png" /></li>
                <li><a href="#"><img src="/img/ico-investors.png" /></a><img class="hover-arrow" src="/img/cab-menu-hover.png" /></li>
                <li><a href="#"><img src="/img/ico-projects.png" /></a><img class="hover-arrow" src="/img/cab-menu-hover.png" /></li>
                <li><a href="#"><img src="/img/ico-purse.png" /></a><img class="hover-arrow" src="/img/cab-menu-hover.png" /></li>
                <li><a href="#"><img src="/img/ico-tasks.png" /></a><img class="hover-arrow" src="/img/cab-menu-hover.png" /></li>
                <li><a href="#"><img src="/img/ico-help.png" /></a><img class="hover-arrow" src="/img/cab-menu-hover.png" /></li>
            </ul>
            
        </div> 
        <div class="clear"></div>
        <ul class="cab-info-graph">
            <li><a href="#" class="ig-1"></a></li>
            <li><a href="#" class="ig-2"></a></li>
            <li><a href="#" class="ig-3 active"></a></li>
            <li><a href="#" class="ig-4"></a></li>
            <li><a href="#" class="ig-5"></a></li>
            <li><a href="#" class="ig-6"></a></li>
            <li><a href="#" class="ig-7"></a></li>
        </ul>    
        <div class="clear"></div>
        <div class="view-cont">
            <div class="inner-cont">
                <div class="left-side">
                    <span>Статус:</span>
                    <h5>Утверждение проекта агентом</h5>
                    <p>Проект проверен агентом и требует доработки. Все доработки агент написал Вам в <a href="#">сообщении</a></p>
                </div>
                <div class="right-side">
                    <h5>Стоматологическая клиника</h5>
                    <img src="" width="180" height="180" />
                    <p>
                        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране ловесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут оль журчит по всей стране ей стране ловесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране.......
                    </p>
                    <a href="#" class="edit">Редактировать</a>
                </div>
            </div>
            <div class="clear"></div>
            
            <table class="view-table">
                <tr>
                    <th>Дата</th>
                    <th>Сумма (грн)</th>
                    <th>Статус</th>
                </tr>
                <tr>
                    <td>13.08.2013</td>
                    <td>234</td>
                    <td><span class="st ok">оплачено</span></td>
                </tr>
                <tr>
                    <td>13.08.2013</td>
                    <td>234</td>
                    <td><span class="st wait">ожидает оплаты</span></td>
                </tr>
                <tr>
                    <td>13.08.2013</td>
                    <td>234</td>
                    <td><span class="st fail">просрочено</span></td>
                </tr>
                <tr>
                    <td>13.08.2013</td>
                    <td>234</td>
                    <td><span class="st wait">ожидает оплаты</span></td>
                </tr>
            </table>
            <a class="arhive" href="#">Архив проектов</a>
        </div>

</div>

<div class="block_4 mod">
    <div class="img_cont">
        <ul>
            <li><span>Открытие<br>Фреш-бара</span>        <a href="#"><img src="/images/pics/1.jpg" width="242" height="290" alt=""/></a></li>
            <li><span>Ремонт спальни</span>             <a href="#"><img src="/images/pics/2.jpg" width="242" height="290" alt=""/></a></li>
            <li><span>Семейный отдых<br>в Тайланде</span>  <a href="#"><img src="/images/pics/3.jpg" width="242" height="290" alt=""/></a></li>
            <li><span>Семейный отдых<br>в Египте</span>    <a href="#"><img src="/images/pics/4.jpg" width="242" height="290" alt=""/></a></li>
        </ul>
    </div>
</div>

<div class="block_4">
    <h5>Пресса о нас</h5>
    <div class="news_block">
        <div class="news_block_left">
            <img src="/img/news_h1.jpg"  width="190" height="32" alt=""/>  
            <p>France was accused of jeopardising one of David Cameron’s G8 priorities today by limiting the scope of trans-Atlantic trade talks. The head of the European Commission hit out at President Hollande for insisting on special protections for the French film industry. Jose Manuel…</p>
            <a href="#"class="detal">подробнее<img src="/img/a.detal.png" width="8" height="10"></a>
        </div>
        <div class="news_block_right">
            <img src="/img/news_h2.jpg"  width="51" height="39" alt=""/>
            <p>France was accused of jeopardising one of David Cameron’s G8 priorities today by limiting the scope of trans-Atlantic trade talks. The head of the European Commission hit out at President Hollande for insisting on special protections for the French film industry. Jose Manuel…</p>
            <a href="#" class="detal">подробне<img src="/img/a.detal.png" width="8" height="10"></a>
        </div>
    </div>
</div>
<script type="text/javascript">
<!--
$(document).ready(function(){
    $('.decor_b1,.decor_b2').hide();
	$('.decor_b4').css({top:125,height: $('.block_3').height()+1});
    $('.decor_b3').css({top:988, left:0, width:'100%', height: $(document).height()-988});
}); 	
-->
</script>