<div class="block_3">
    <div class="static">
        <h5 class="center">Договор о предоставлении информационных услуг</h5>
        <div class="text">
            <p>
            Основные понятия Договора
            </p>
            <p>
            Автор — Физическое лицо (гражданин), творческим трудом которого создано произведение (статья 1228 ГК РФ).<br>
            Задание — Письменное требование Заказчика к результатам интеллектуальной деятельности Автора, созданным по настоящему договору (Приложение № 1 к настоящему Договору)<br>
            Интеллектуальная деятельность — Созидательная умственная творческая деятельность человека для достижения каких-либо результатов.<br>
            Интеллектуальная собственность — Результаты интеллектуальной деятельности и приравненные к ним средства индивидуализации, которым предоставляется правовая охрана законодательством РФ (статья 1225 ГК РФ).<br>
            Использование — Воспроизведение, распространение, публичный показ произведения, импорт оригинала или экземпляра произведения, а также иное его использование, предусмотренное законом или договором (статья 1270 ГК РФ)
            Конфиденциальная информация — Любая информация технического, коммерческого, финансового характера, прямо или косвенно относящаяся к настоящему Договору (непосредственно Произведения, информация о будущих публикациях, о содержании неопубликованных Произведений, стратегия дальнейшей работы и т.п.), а также к отношениям деятельности Сторон и их партнёров, ставшая известной сторонам в ходе выполнения настоящего Договора или предварительных переговоров о его заключении, либо отнесённая законом к конфиденциальной.
            Обнародование — Осуществленное с согласия Автора действие, которое впервые делает произведение доступным для всеобщего сведения путем его опубликования, публичного показа, публичного исполнения, сообщения в эфир или по кабелю любо иным способом (статья 1268 ГК РФ)
            Опубликование — Выпуск в обращение экземпляров, представляющих собой копию произведения в любой материальной форме (на материальном носителе), в количестве, достаточным для удовлетворения разумных потребностей публики исходя из характера произведения (статья 1268 ГК РФ)
            Правообладатель — Гражданин или юридическое лицо, обладающее исключительным правом на интеллектуальную собственность (статья 1229 ГК РФ)
            Произведение — Результат интеллектуальной деятельности (произведения науки, литературы и искусства, программы для ЭВМ и базы данных), охраняемый авторским правом, о создании которого заключен настоящий Договор;
            Результат интеллектуальной деятельности — Продукт умственной творческой деятельности человека по перечню согласно статье 1225 ГК РФ, созданный в порядке служебного задания, подряда, аутсорсинга или личной инициативы и являющийся неотчуждаемым объектом гражданских прав
            </p>
            <p>
            1. Предмет Договора
            </p>
            <p>
            1.1. Автор обязуется по Заданиям Заказчика создать Произведения и передать Заказчику исключительные права на Произведения, а Заказчик обязуется выплатить Автору вознаграждение в размере, порядке и на условиях, установленных настоящим Договором.
            <br>
            1.2. Произведения, создаваемые творческим трудом Автора, должны соответствовать требованиям Заказчика, содержащимся в Задании (Приложение № 1) к настоящему Договору.
            </p>
            <p>
            2. Права и обязанности Сторон
            </p>
            <p>
            2.1. Автор обязуется:<br>
            2.1.1. создать Произведения в соответствии с требованиями Заказчика, выраженными в соответствующих Заданиях;<br>
            Вариант 1 (самостоятельно)<br>
            2.1.2. личным творческим трудом, без привлечения третьих лиц, создать оригинальные Произведения, без нарушения прав третьих лиц, незаконных заимствований и плагиата;<br>
            Вариант 2 (совместно с третьими лицами)<br>
            2.1.2. личным творческим трудом, с возможностью привлечения третьих лиц по предварительному согласованию с Заказчиком, создать оригинальные Произведения, без нарушения прав третьих лиц, незаконных заимствований и плагиата;
            </p>
            <p>
            Вариант 1 (эксклюзив без общественного достояния)<br>
            2.1.3. не создавать по настоящему договору производные Произведения на основе интеллектуальной собственности третьих лиц и на основе Произведений, перешедших в общественное достояние;<br>
            Вариант 1.1 (эксклюзив с общественным достоянием)<br>
            2.1.3. не создавать по настоящему договору производные Произведения на основе интеллектуальной собственности третьих лиц;<br>
            Вариант 2<br>
            2.1.3. в случае создания производного Произведения на основе интеллектуальной собственности третьих лиц своими силами обеспечить соблюдение прав третьих лиц и за свой счёт (в случае необходимости) выплатить авторские вознаграждения;
            </p>
        </div>
    </div>

</div>

<div class="block_4 mod">
    <div class="img_cont">
        <ul>
            <li><span>Открытие<br>Фреш-бара</span>        <a href="#"><img src="/images/pics/1.jpg" width="242" height="290" alt=""/></a></li>
            <li><span>Ремонт спальни</span>             <a href="#"><img src="/images/pics/2.jpg" width="242" height="290" alt=""/></a></li>
            <li><span>Семейный отдых<br>в Тайланде</span>  <a href="#"><img src="/images/pics/3.jpg" width="242" height="290" alt=""/></a></li>
            <li><span>Семейный отдых<br>в Египте</span>    <a href="#"><img src="/images/pics/4.jpg" width="242" height="290" alt=""/></a></li>
        </ul>
    </div>
</div>

<div class="block_4">
    <h5>Пресса о нас</h5>
    <div class="news_block">
        <div class="news_block_left">
            <img src="/img/news_h1.jpg"  width="190" height="32" alt=""/>
            <p>France was accused of jeopardising one of David Cameron’s G8 priorities today by limiting the scope of trans-Atlantic trade talks. The head of the European Commission hit out at President Hollande for insisting on special protections for the French film industry. Jose Manuel…</p>
            <a href="#"class="detal">подробнее<img src="/img/a.detal.png" width="8" height="10"></a>
        </div>
        <div class="news_block_right">
            <img src="/img/news_h2.jpg"  width="51" height="39" alt=""/>
            <p>France was accused of jeopardising one of David Cameron’s G8 priorities today by limiting the scope of trans-Atlantic trade talks. The head of the European Commission hit out at President Hollande for insisting on special protections for the French film industry. Jose Manuel…</p>
            <a href="#" class="detal">подробне<img src="/img/a.detal.png" width="8" height="10"></a>
        </div>
    </div>
</div>
<script type="text/javascript">
    <!--
    $(document).ready(function(){
        $('.decor_b1,.decor_b2').hide();
        $('.block_3').ready(function(){
            var pos = $('.block_3').height()+1;
            $('.decor_b4').css({top:125,height: pos});
            $('.decor_b3').css({top:125+pos, left:0, width:'100%', height: $(document).height()-(125+pos)});
        });


    });
    -->
</script>