<div class="block_3">
    <div class="static">
        <h5 class="center">Договор предоствления информационно-технологических услуг по<br>использованию системы "СімЗірок"<br>(публичная оферта).</h5>
        <div class="text">
            <p>
                "21" июня 2013 года
            </p>
            <p>Общество с ограниченной ответственностью &laquo;СА инновейшн венчурс&raquo;, именуемое в дальнейшем &laquo;Исполнитель&raquo;,
                настоящим предлагает заключить Договор об информационно-технологических услугах по использованию Системы "СімЗірок" (далее &ndash; "Система")
                с целью предоставления возможности заключения договоров между пользователями Системы. Настоящий документ имеет статус официальной письменной
                бессрочной публичной оферты, составленной в соответствии со ст. 633 Гражданского кодекса Украины (далее &ndash; ГКУ).&nbsp;</p>
            <p>Данный договор размещен на Сайте Исполнителя в разделе &laquo;Правила&nbsp;системы&raquo;.&nbsp;</p>
            <p>Акцептуя данную оферту в соответствии со статьями 633, 641, 642 ГКУ, путем совершения действий, определенных в настоящей оферте, Вы тем самым
                заключаете Договор об информационно-технологических услугах по использованию Системы "СімЗірок" на следующих условиях:</p>
            <p><strong>1. Термины и определения</strong></p>
            <p>Для целей настоящего Договора используются следующие понятия:</p>
            <p><strong>Исполнитель</strong> &ndash; ООО "СА инновейшн венчурс", обеспечивающее функциональные возможности Системы.<br>
                <strong>Пользователь</strong> - любое дееспособное физическое лицо или юридическое лицо, резидент Украины, которое заключило с
                Исполнителем настоящий Договор об информационно-технологических услугах по использованию Системы "СімЗірок". <br>
                <strong>Заемщик</strong> &ndash; Пользователь системы - физическое лицо, желающее получить или получившее заём от любого
                зарегистрированного Пользователя. <br>
                <strong>Инвестор</strong> - Пользователь системы, желающий предоставить или предоставивший заем Заемщику. <br>
                <strong>Стороны</strong> &ndash; Исполнитель и Пользователь, именуемые совместно. <br>
                <strong>Банковская карта</strong> - вид платежной карты, эмитентом которой является кредитная организация, служащая для совершения
                операций и составления документов, подлежащих оплате клиентом.<br>
                <strong>Электронная подпись (ЭП)</strong> &ndash;в целях настоящего Договора и при заключении сделок в Системе Электронной подписью являются
                данные в электронной форме, которые добавляются к другим электронным данным и предназначены для идентификации подписывателя этих данных, в
                терминах Правил пользования Системой и данного Договора это электронное сообщение (документ), состоящие из уникального имени Пользователя,
                зарегистрированного в Системе. Вход Пользователя в Систему под своим уникальным именем, подтвержденный паролем Пользователя, позволяют
                Исполнителю и принимающей Стороне однозначно установить отправителя сообщения (документа) в Системе, а также обеспечить защиту данного
                сообщения (документа) от подлога. Добавление указанных данных к любому сообщению (документу), оформляемому в Системе, производится автоматически,
                во всех случаях, когда для оформления этого сообщения (документа) Пользователю было необходимо указать свое уникальное имя и пароль. Все документы
                (сообщения), оформленные Пользователями в Системе под своим имением и паролем признаются Пользователями и Исполнителем как документы (сообщения),
                подписанные ЭП и являются равнозначными (имеющими одинаковую юридическую силу) документам на бумажном носителе. Определение лица, подписавшего
                в Системе сообщение (документ) своей электронной подписью, осуществляется и подтверждается Исполнителем на основании введенных Пользователем при
                создании этого сообщения (документа) уникального имени и пароля.<br>
                <strong>Система "СімЗірок" (Система)</strong> &ndash; программно-аппаратный комплекс, принадлежащий Исполнителю, обеспечивающий информационное и
                технологическое взаимодействие между Исполнителем и Пользователями, а также позволяющий Пользователям обмениваться сообщениями (документами),
                подписанными ЭП. Описание и правила пользования Системой находятся на сайте Системы. Правила пользования Системой &laquo;СімЗірок&raquo; являются
                неотъемлемой частью настоящего Договора (Приложение №1) и обязательны для исполнения Пользователями. <br>
                <strong>Сайт Системы</strong> &ndash; www. Simzirok.com <br>
                <strong>Личный кабинет Пользователя</strong> &ndash; выделенное информационное пространство на Сайте Системы, доступное Пользователю при
                вводе верных логина и пароля данного Пользователя. <br>
                <strong>Проект</strong> &ndash; предложение Заемщика, размещенное на Сайте Системы, заключить договор займа с любым другим
                зарегистрированным Пользователем. Проект размещается Заемщиком под своим уникальным именем и паролем и является документом, подписанным
                электронной подписью (ЭП). <br>
                <strong>Договор займа</strong> &ndash; Договор займа, заключенный между Инвестором и Заемщиком путем обмена
                электронными документами (сообщениями), подписанными ЭП, посредством Системы на установленных в Проекте и Предложениях условиях Займа.
                Порядок заключения договора Займа определяется Правилами пользования Системой (оферта на заключение договора займа &ndash; Приложение № 2).<br>
               </p>
            <p>
                <strong>2. Предмет Договора</strong></p>
            <p>2.1. Предметом настоящего Договора является предоставление Исполнителем Пользователю услуг по размещению на сайте Системы информации о
                желании получить или предоставить заём другому Пользователю Системы и заключить договор займа, а также предоставление Пользователям
                технологических возможностей по обмену между ними информацией и электронными документами, в том числе подписанными ЭП (выполнение
                организационных мероприятий по заключению сделок в Системе по установленным Правилам пользования Системой). <br>
                <strong>2.2. Для акцепта настоящей оферты и заключения Договора </strong><br>
                <strong>Пользователь совершает последовательно следующие действия:</strong><br>
                2.2.1. Знакомится с текстом настоящего Договора, а также с Правилами пользования Системой &laquo;СімЗірок&raquo;, размещенными на сайте
                Системы и в случае согласия с ними подписывает эти документы, путем проставления соответсвующей отметки в конце текста настоящего Договора
                и Правил пользования Системой &laquo;СімЗірок&raquo;. <br>2.2.2. Создает имя Пользователя в Системе, являющегося логином и соответствующее
                электронному почтовому ящику Пользователя, и пароль длиной не менее 7-ми символов для вхождения в Систему. <br>
                2.2.3. Заполняет регистрационную форму Пользователя, размещенную на Сайте Системы. 2.3. Совершение Пользователем указанных выше действий
                (акцепт публичной оферты) означает полное и безоговорочное принятие Пользователем всех условий Договора вместе сов семи приложениями без
                каких-либо изъятий и/или ограничений (ст. 642 ГКУ).<br>
                2.4. Система регистрирует учетную запись Пользователя и присваивает Пользователю уникальный номер. <br>
                2.6. Настоящий Договор считается заключенным с момента регистрации Пользователя и присвоения ему уникального номера.</p>
            <p>
                <strong>3. Обязательства Сторон</strong></p>
            <p><strong>3.1. Обязательства Исполнителя:</strong> <br>
                3.1.1. Обеспечить бесперебойное круглосуточное функционирование Системы, заботиться об информационной защищенности Системы. <br>
                3.1.2. Не разглашать информацию о Пользователях, учетных записях, паролях и суммах платежей, кроме случаев, предусмтренных настоящим
                Договором и Правилами пользования Системой &laquo;СімЗірок&raquo;, а также, когда законодательством Украины предусмотрена обязанность
                по предоставлению такого рода информации уполномоченному на то органу государства, а также если такая информация является общедоступной
                или раскрывается на основании разрешения самого Пользователя. <br>
                3.1.3. Зарегистрировать Пользователя и присвоить ему учетную запись при условии
                соблюдения условий настоящего Договора и Правил пользования Системой &laquo;СімЗірок&raquo;. <br>
                3.1.4. Хранить информацию о размещенных Проектах, Предложениях и заключенных договорах займа и иную информацию, необходимую для
                использования Системы, в течение 3 (трех) лет с момента размещения Проекта в Системе. <br>
                3.1.5. Удалить все данные Пользователя из Системы по
                его требованию, если это не протеворечит условиям настоящего Договора, Правил пользования Системой &laquo;СімЗірок&raquo;. В случае, если
                Пользователь заключил Договор займа, данные пользователя храняться до выполнения им условий Договора займа. <br>
                3.1.6. Зарегистрировать в Системе ЭП Пользователя и подтверждать использование ЭП при обмене электронными документами между Пользователями.<br>
                <strong>3.2. Обязательства Пользователя:</strong> <br>
                3.2.1. Выполнять условия настоящего Договора, Правил пользования Системой &laquo;СімЗірок&raquo;, Договора займа других приложений к данному
                договору размещенных на сайте Системы. <br>
                3.2.2. Зарегистрироваться в Системе под своим настоящим именем, предоставить Исполнителю действительные персональные (паспортные) данные,
                а также данные, необходимые для оценки его кредитоспособности в соответствии с настоящим Договором и Правилами пользования Системой &laquo;
                СімЗірок&raquo;.<br>
                3.2.3. Не предоставлять возможность пользования своей учетной записью третьим лицам. <br>
                3.2.4. Не разглашать пароли, а также конфиденциальную информацию, предоставленную для пользования Исполнителем. <br>
                3.2.5. Заботиться должным образом о работоспособности, информационной защищенности и безопасности своего компьютера и баз данных. <br>
                3.2.6. Признавать документы в электронном виде, составленные с помощью Системы (распоряжения, проекты, договоры, учетные записи, акты и др.) и
                подписанные ЭП, как документы, составленные в простой письменной форме в соответствии со ст. 207 и п. 3 ст. 639 ГКУ. 3.2.7. Не использовать
                Систему в противоправных целях, нарушающих права третьих лиц, а также в целях совершения покупок товаров (работ, услуг), запрещенных к
                продаже в соответствии с законодательством Украины.</p>
            <p><strong>4. Тарифы</strong></p>
            <p>4.1. В определенных случаях, указанных на сайте Системы в разделе &laquo;Тарифы и ограничения Системы&raquo; и в Правилах пользования
                Системой &laquo;СімЗірок&raquo;, Исполнитель имеет право взимать с Пользователя вознаграждение, пени и штрафы, связанные с выполнением
                обязательств по настоящему Договору (Тарифы и ограничения системы &ldquo;СімЗірок&rdquo; &ndash; Приложение № 3).<br>
                4.2. Исполнитель имеет право в одностороннем порядке изменять Тарифы. <br>
                4.3. Порядок оплаты услуг Системы устанавливается в Правилах пользования Системой &laquo;СімЗірок&raquo;.</p>
            <p><strong>5. Защита информации</strong></p>
            <p>5.1. Стороны признают, что все документы, пописанные ЭП, имеют такую же юридическую силу для Сторон как и документы, составленные на бумажных
                носителях и заверенные собственноручными подписями Сторон, т.е. совершенными в простой письменной форме. <br>
                5.2. Стороны признают, что использование ЭП в электронных сообщениях (документах), передаваемых в рамках использования Системы, порождает
                юридические последствия, аналогичные использованию собственноручных подписей в соответствии с требованиями законодательства Украины, и все
                документы, связанные с исполнением настоящего Договора, а также документы, оформляемые Пользователями между собой в рамках использования Системы
                (в том числе при заключении сделок), подписанные ЭП, являются документами составленными в письменной форме (ст.639 ГКУ). <br>
                5.3. Кроме идентификации с использованием собственноручной подписи Пользователя, в качестве ЭП Пользователя и для ее подтверждения используются
                уникальные логин и пароль, выбранные Пользователем, а также дополнительные данные, зафиксированные Системой при регистрации Пользователя в
                Системе. Все действия в Системе, совершенные под логином и паролем Пользователя, признаются совершенными лично Пользователем.<br>
                5.4. Стороны, каждая со своей стороны, обязуются принимать меры по безопасности и защите информации и документов, обмен которыми осуществляется
                в Системе. <br>
                5.5. В случае возникновении споров о факте получения одной из Сторон какого-либо электронного сообщения, подписанного ЭП, бремя доказывания лежит
                на Стороне, не соглашающейся с фактом получения электронного сообщения, подписанного ЭП.<br>
                5.6. Исполнитель имеет право запросить дополнительную информацию о Пользователе в целях пресечения (профилактики) противоправных действий.
                Исполнитель оставляет за собой право отказать Пользователю в использовании Системы без объяснения причин такого отказа. В случаях обнаружения в
                рамках Системы противоправных действий со стороны третьих лиц, Исполнитель действует в соответствии с действующим законодательством Украины и
                обычаями делового оборота.</p>
            <p><strong>6. Ответственность Сторон</strong></p>
            <p>6.1. В случаях неисполнения или ненадлежащего исполнения своих обязательств по Договору, Стороны несут ответственность в соответствии с
                законодательством Украины с учетом условий настоящего Договора.  <br>
                6.2. Исполнитель не несет ответственности за какие-либо косвенные/непрямые убытки или упущенную выгоду Пользователя и/или третьих лиц в результате
                использования Системы.  <br>
                6.3. Исполнитель не отвечает за неисправности, ошибки и сбои в работе программно-аппаратного комплекса, обеспечивающего функционирование Системы,
                а также за временное отсутствие у Пользователя доступа к программным и/или аппаратным средствам, возникшие по причинам, не зависящим от Исполнителя
                Системы, а также связанные с этим убытки Пользователя.  <br>
                <strong>6.4. Исполнитель Системы не отвечает за убытки Пользователя, </strong><strong>возникшие в результате:</strong>  <br>
                6.4.1. наличия "вирусов" и иных вредоносных программ в оборудовании и программном обеспечении, используемом Пользователем для доступа к Системе; <br>
                6.4.2. неправильного заполнения реквизитов документов, используемых в Системе, а также документов, заполняемых при осуществлении платежей; <br>
                6.4.3. нарушения Пользователем условий настоящего Договора, Правил пользования Системой &laquo;СімЗірок&raquo;, Дорговора займа размещенных на
                сайте Системы;  <br>
                6.4.4. неправомерных действий третьих лиц, в том числе связанных с использованием Учетной записи Пользователя, а также с использованием электронного
                почтового ящика Пользователя, адрес которого является логином для входа в Систему и других неправомерных действий;  <br>
                6.4.5. неисполнения Пользователями обязательств по сделкам (договорам), заключенным между ними с использованием Системы. <br>
                6.5. В случае, если Пользователь не указал или неверно указал персональные данные, Исполнитель не отвечает за убытки Пользователя, понесенные в
                результате отказа в возврате денежных средств или совершения иных действий по использованию Системы вследствие невозможности идентификации
                Пользователя.  <br>
                6.6. Стороны не несут ответственность за неисполнение или ненадлежащее исполнение обязательств, принятых на себя по настоящему Договору,
                если надлежащее исполнение оказалось невозможным вследствие наступления обстоятельств непреодолимой силы, таких как: военные действия, эпидемии,
                пожары, природные катастрофы, нормативно-правовые акты и действия государственных и иных уполномоченных органов (организаций), делающие
                невозможными исполнение обязательств по настоящему договору в соответствии с законным порядком. Указанные обстоятельства должны быть подтверждены
                уполномоченным государственным органом. Сторона по настоящему договору, затронутая обстоятельствами непреодолимой силы, должна в течение 10 (десяти)
                календарных дней известить другую Сторону о наступлении обстоятельств непреодолимой силы.  <br>
                <strong>6.7. Исполнитель имеет право заблокировать учетные записи </strong><strong>Пользователей в следующих случаях:</strong>  <br>
                6.7.1. поступления Исполнителю Системы претензий от других Пользователей и/или третьих лиц о нарушении Пользователем их прав и законных интересов;  <br>
                6.7.2. выявления деятельности, запрещенной законодательством, в том числе связанной с организацией &laquo;финансовых пирамид&raquo;, продажей
                технологий бесплатного Интернета и бесплатной сотовой связи, продажей &laquo;контрафактного&raquo; и некачественного товара и др.; <br>
                6.7.3. выявления несанкционированного внесения (попыток внесения) изменений в любую из частей программного обеспечения Системы;  <br>
                6.7.4. в случае выявления неверно указанных персональных (паспортных) данных Пользователя;  <br>
                6.7.5. в случае возникновения у Исполнителя Системы необходимости идентифицировать Пользователя, а также отказа Пользователя от предоставления
                документов, идентифицирующих пользователя в том числе Агенту;  <br>
                6.7.6. нарушения Пользователем условий настоящего Договора и Правил пользования Системой &laquo;СімЗірок&raquo;.  <br>
                6.8. Исполнитель имеет право не обслуживать запросы к Системе с анонимных прокси-серверов.</p>
            <p><strong>7. Порядок изменения и расторжения Договора</strong> </p>
            <p>
                7.1. Внесение изменений (дополнений) в настоящий Договор, изменение Правил пользования Системой &laquo;СімЗірок&raquo; производятся Исполнителем
                в одностороннем порядке. Информация о внесенных изменениях размещается на Сайте Системы. При внесении существенных изменений (дополнений)
                Исполнитель уведомляет о них Пользователя (путем размещения соответствующей информации на Сайте Системы) не менее, чем за три дня до вступления
                изменений в силу. В случае несогласия Пользователя с указанными изменениями, он вправе расторгнуть настоящий Договор в порядке, указанном в п. <br>
                7.2 Договора.  <br>
                7.2. Договор может быть расторгнут:  <br>
                7.2.1. Пользователем: - Путем направления Исполнителю письменного уведомления (возможна иная форма, обеспечивающая надлежащее уведомление
                Исполнителя о расторжении Договора). В случае отсутствия претензий со стороны Исполнителя и отсутствия действующих договоров займа, стороной по
                которым выступает Пользователь, Договор считается расторгнутым по истечении 10 (десяти) рабочих дней после получения указанного уведомления.  <br>
                7.2.2. Исполнителем: - При нарушении Пользователем условий настоящего Договора или Правил пользования Системой &laquo;СімЗірок&raquo;. - В случае
                недостоверного указания Пользователем своих данных. - В других случаях, указанных в настоящем Договоре, Правилах пользования Системой &laquo;
                СімЗірок&raquo;.  <br></p>
            <p><strong>8. Политика конфиденциальности</strong> </p>
            <p>
                8.1. Настоящая Политика конфиденциальности (далее - Политика) применяется к Системе "СімЗірок" и действует в отношении всей информации, которую
                Исполнитель и/или его Агенты лица, могут получить о Пользователе во время использования или попытки использования им услуг Исполнителя, включающих
                в себя получения денежного займа в Системе "СімЗірок". <br>
                8.2. Использование услуг Исполнителя означает безоговорочное согласие Пользователя с настоящей Политикой и указанными в ней условиями обработки
                его персональных данных. Исполнитель оставляет за собой право в одностороннем порядке изменять, добавлять и/или удалять части данной Политики в любое
                время. Все изменения в Политике вступают в силу незамедлительно с момента их размещения на Сайте. <br>
                8.3. В случае несогласия с этими условиями пользователь
                должен воздержаться от использования услуг Исполнителя.<br>
                8.4. Для целей исполнения обязательств по настоящему Договору и обеспечения возможности
                заключения и исполнения сделок (договоров) с использованием Системы Пользователь предоставляет Исполнителю свои персональные данные.<br>
                8.5. В открытом доступе данные Пользователя размещаются только в обезличенном виде. <br>
                8.6. Пользователь, заключая настоящий Договор, выражает свое согласие и предоставляет Исполнителю право передавать его персональные данные другим
                Пользователям Системы и другим третьим лицам исключительно с целью заключения между зарегистрированными Пользователями Системы сделок (договоров)
                и исполнения обязательств по ним, взыскания задолженности в случае ненадлежащего исполнения Пользователем своих обязательств по таким сделкам
                (договорам), а также с целью проверки данных, сообщенных Пользователем при заключении настоящего Договора и иных сделок (договоров), заключаемых с
                использованием Системы. В случае привлечения третьих лиц (Агентов) для осуществления взыскания задолженности и проверки данных Пользователей по
                настоящему договору и/или сделкам (договорам), заключенным с использованием Системы, Пользователь предоставляет право Исполнителю и/или другим
                Пользователям предоставлять его персональные данные таким третьим лицам. <br>
                8.6. Объем передаваемых Пользователем Исполнителю персональных данных зависит от статуса Пользователя в Системе (Заемщик, Инвестор, Агент) и
                определяется в Правилах пользования Системой &laquo;СімЗірок&raquo;.  <br>
                8.7. Персональная информация пользователей, которую получает и обрабатывает Исполнитель. <br>
                8.7.1. Исполнитель собирает и хранит персональные данные, которые пользователь предоставляет о себе самостоятельно при регистрации и заполнении
                анкеты в Системе "СімЗірок" или в процессе использования услуг, включая персональные данные пользователя. Обязательная для выдачи займа (оказания услуг)
                информация помечена специальным образом (напрмер &ndash; звездочкой). Иная информация предоставляется пользователем на его усмотрение. <br>
                8.7.2. Также Исполнитель оставляет за собой право собирать неидентицифицирующую персональную информацию о пользователях при посещении страниц
                Сайта. Данная информация включает в себя IP-адрес, информация из cookie, информация о браузере пользователя (или иной программе, с помощью которой
                осуществляется доступ к Сайту), время доступа, адрес запрашиваемой страницы, а также доменное имя провайдера интернет-услуг пользователя. <br>
                8.7.3. Исполнитель также собирает и хранит информацию от пользователей, связанную с непосредственным оказанием услуг, что среди прочего включает
                отправленную и согласованную оферту. 8.7.4. Исполнитель оставляет за собой право проверять достоверность персональных данных и иной информации,
                предоставляемой пользователями. Все риски связанные с предоставлением Пользователем недостоверной информации, недостоверных персональных данных
                несет Пользователь. 8.7.5. Пользователь может в любое время изменить предоставленные им персональные данные и иную информацию в случае их изменения.
                Также пользователь может удалить персональную информацию, после осуществления сторонами своих договоренностей в рамках оказываемой услуги. <br>
                8.8. Персональная информация пользователей, которую получает и обрабатывает Исполнитель <br>
                8.8.1. Исполнителем осуществляется обработка персональных данных на законной и справедливой основе. Обработке подлежат только персональные данные,
                которые отвечают целям их обработки. Содержание и объем обрабатываемых Исполнителем персональных данных соответствуют заявленным целям обработки,
                избыточность обрабатываемых данных не допускается. <br>
                8.8.2. Исполнитель осуществляет обработку персональных данных в целях выполнения займовых операций, а также выполнения требований действующего
                законодательства Украины. <br>
                8.8.3. Любая персональная информация пользователей, полученная Исполнителем от Пользователя для оказания услуг, остается
                собственностью Пользователя. Передавая Исполнителю персональные данные, Пользователь доверяет Исполнителю использовать данную персональную
                информацию для любого законного использования, включая, без ограничений: ! Выдача займа; ! Передача информации третьей стороне с разрешения
                пользователя; ! Отслеживание исполнения договоренностей по согласованной оферте; ! Показ рекламных предложений, в том числе третьих лиц. <br>
                8.8.4. Условия обработки персональной информации пользователя и её передачи третьим лицам <br>
                8.8.5. При организации и осуществлении обработки
                персональных данных Исполнитель руководствуется требованиями Закона Украины &laquo;О защите персональных данных&raquo; от 01.06.2010 года №
                2297-VI и другими нормативными актами в данной. <br>
                8.8.6. При выполнении своей деятельности Исполнитель обеспечивает адекватную защиту прав субъектов
                персональных данных и обеспечивает безопасность их персональных данных в соответствии с законодательством Украины. <br>
                8.8.7. Исполнитель вправе передать персональные данные пользователя третьим лицам, если пользователь выразил согласие на такие действия
                (например об этом указано в оферте, которую акцептировал Пользователь); ! передача необходима для оказания услуг пользователю; ! с целью
                обеспечения возможности защиты прав и законных интересов Исполнителя и/или Пользователя, в том числе, но не исключительно, в случае нарушения
                условий Договора займа. ! передача предусмотрена законодательством Украины.  <br>
                8.9. Защита персональных данных пользователей. <br>
                8.9.1. Исполнитель предпринимает необходимые технические и организационные меры для защиты персональных данных Пользователей. Данные меры
                включают в себя меры по предотвращению неправомерного или случайного доступа к информации, а также ее уничножения, изменения, копирования,
                распространения или неправомерных действий злоумышленников. <br>
                8.9.2. Исполнитель постоянно продолжает укреплять системы информационной безопасности по мере развития новых технологий. </p>
            <p>
                <strong>9. Разрешение споров</strong></p>
            <p>
                9.1. Все споры и разногласия, возникшие в связи с исполнением настоящего Договора, рассматриваются с обязательным соблюдением претензионной
                процедуры. <br>
                9.2. Претензия к Исполнителю подается в письменной форме и подлежит рассмотрению в течение 20 (двадцати) календарных дней с даты ее получения.  <br>
                9.3. При ненадлежащем выполнении условий Договора, Стороны вправе обратиться в суд, в соответствии с действующим законодательством Украины.  <br>
                9.4. При разрешении споров по ненадлежащему исполнению Договора, договора займа применяют договорную подсудность, установленную настоящим
                разделом. Любой спор, возникающий по договорам, указанным в настоящем подпункте или в связи с ними, в том числе любой вопрос в отношении его
                существования, действительности, исполнения или прекращения, подлежит передаче на рассмотрение и окончательное разрешение в постоянно
                действующий Третейский суд при Исполнителе, образованный на основании Приказа №___ _________________________. Решение Третейского
                суда является окончательным и обязательным для исполнения в порядке и сроки, которые установлены в данном решении. Если в решении
                третейского суда срок не установлен, то оно подлежит немедленному исполнению.  <br>
                9.5. Стороны договорились о возможности объединения однородных
                самостоятельных требований к разным ответчикам в одно исковое производство.  </p>
            <p>
                <strong>10. Прочие положения </strong> </p>
            <p>
                10.1. "СімЗірок" является зарегистрированным товарным знаком и предоставлен Исполнителю на правах лицензионного соглашения. Использование
                этого товарного знака, а также прочих логотипов, брендов и продуктов, описанных на сайте www.simzirok.com, не может производиться без
                письменного согласования с Исполнителем или уполномоченными им организациями. Размещение логотипа "СімЗірок" допускается только при
                наличии прямой ссылки с такого логотипа на сайт: www.simzirok.com.  <br>
                10.2. Исполнитель оставляет за собой право производить модификации (усовершенствования) Системы с учетом новых требований и возможностей
                IT-технологий.  <br>
                10.3. В рамках настоящего Договора Исполнитель может оказывать Пользователям дополнительные (в том числе платные) услуги. В случае, если
                дополнительная услуга является платной, она не может быть обязательной для Пользователя, т.е. необходимость получения такой услугой определяется
                исключительно Пользователем. Совершение Пользователем действий, указанных на сайте Системы, как действий, необходимых для получения такой услуги,
                является выражением согласия (акцептом) Пользователя на получение услуги на условиях, указанных Исполнителем. Информация о дополнительных услугах,
                порядке их оказания и их стоимости, размещается Исполнителем на сайте Системы в разделе Тарифы и ограничения.  <br>
                10.4. Пользователь предоставляет Исполнителю право получить о нем информацию в любом государственном органе, частной организации, предприятии
                и т.д. независимо от формы собственности. Такое согласие считаеться предоставленим пользователем путем принятия условий данного договора.  <br>
                10.5. Пользователь гарантирует, что все условия настоящего Договора ему ясны, и он принимает их безусловно и в полном объеме.  <br>
                10.6. Настоящая оферта вступает в силу с момента размещения ее на сайте www.simzirok.com.  </p>
            <p><strong>11. Наименование и адрес Исполнителя.</strong></p>

            <p>Название: ООО &laquo;СА инновейшн венчурс&raquo; <br>Адрес: 02068, г.Киев, ул. Урловская д. 16 оф.6 <br>ЭДРПОУ: 36423357</p>
        </div>
    </div>

</div>

<div class="block_4 mod">
    <div class="img_cont">
        <ul>
            <li><span>Открытие<br>Фреш-бара</span>        <a href="#"><img src="/images/pics/1.jpg" width="242" height="290" alt=""/></a></li>
            <li><span>Ремонт спальни</span>             <a href="#"><img src="/images/pics/2.jpg" width="242" height="290" alt=""/></a></li>
            <li><span>Семейный отдых<br>в Тайланде</span>  <a href="#"><img src="/images/pics/3.jpg" width="242" height="290" alt=""/></a></li>
            <li><span>Семейный отдых<br>в Египте</span>    <a href="#"><img src="/images/pics/4.jpg" width="242" height="290" alt=""/></a></li>
        </ul>
    </div>
</div>

<div class="block_4">
    <h5>Пресса о нас</h5>
    <div class="news_block">
        <div class="news_block_left">
            <img src="/img/news_h1.jpg"  width="190" height="32" alt=""/>
            <p>France was accused of jeopardising one of David Cameron’s G8 priorities today by limiting the scope of trans-Atlantic trade talks. The head of the European Commission hit out at President Hollande for insisting on special protections for the French film industry. Jose Manuel…</p>
            <a href="#"class="detal">подробнее<img src="/img/a.detal.png" width="8" height="10"></a>
        </div>
        <div class="news_block_right">
            <img src="/img/news_h2.jpg"  width="51" height="39" alt=""/>
            <p>France was accused of jeopardising one of David Cameron’s G8 priorities today by limiting the scope of trans-Atlantic trade talks. The head of the European Commission hit out at President Hollande for insisting on special protections for the French film industry. Jose Manuel…</p>
            <a href="#" class="detal">подробне<img src="/img/a.detal.png" width="8" height="10"></a>
        </div>
    </div>
</div>
<script type="text/javascript">
    <!--
    $(document).ready(function(){
        $('.decor_b1,.decor_b2').hide();
        $('.block_3').ready(function(){
            var pos = $('.block_3').height()+1;
            $('.decor_b4').css({top:125,height: pos});
            $('.decor_b3').css({top:125+pos, left:0, width:'100%', height: $(document).height()-(125+pos)});
        });


    });
    -->
</script>