<div class="block_3">
    <div class="static">
        <h5 class="center">Часто задаваемые вопросы</h5>
        <div class="text">
            <div  class="cat-select"><span>Выберите  интересующий Вас раздел</span>
                <div>
                    <form>
                        <select name="" >
                            <option value="">О системе</option>
                            <option value="">О инвестировании</option>
                            <option value="">О займе</option>
                            <option value="">Технические вопросы</option>
                        </select>
                    </form>
                </div>
            </div>

            <div class="answers">

                <h4>Как работает 7 STARS?</h4>
                <div class="ans-item">
                    7 STARS - сайт, который продает файлы по лицензии Royalty-free. Мы принимаем файлы у фотографов,
                        иллюстраторов и видеографов и продаем их поштучно либо по подписке. Также Вы можете приобретать
                        отдельные файлы, оплачивая их с помощью кредитов.
                </div>

                <h4>Что такое "Стоковые файлы"?</h4>
                <div class="ans-item">
                    Это файлы, которые представлены на нашем сайте, и могут быть использованы в дизайнерской, художественной или оформительской работе. После приобретения файлов Вы получаете возможность применить их в соответствии с правилами Стандартной или Расширенной лицензии.
                </div>

                <h4>По какой лицензии продаются файлы?</h4>
                <div class="ans-item">
                    Все файлы, представленные на сайте, распространяются на основе Royalty-free лицензии. Подробней о правилах лицензирования Вы можете прочитать в разделе Правовой информации.
                </div>

                <h4>Что значит "Royalty-free"?</h4>
                <div class="ans-item">
                    Это означает, что файл доступен для использования в соответствии с Лицензионным соглашением без дополнительного описания и согласования места, аудитории, способа использования и прочего. Приобретая файл по лицензии Royalty-free, Вы получаете неэксклюзивное пожизненное право использовать его для своих целей в рамках, ограниченных Стандартной или Расширенной лицензиями.
                </div>

                <h4>У вас есть "Традиционно лицензируемые" файлы?</h4>
                <div class="ans-item">
                    Нет. Все файлы, представленные на сайте, предлагаются к распространению на основании лицензии Royalty-free.
                </div>
            </div>
        </div>
    </div>

</div>

<div class="block_4 mod">
    <div class="img_cont">
        <ul>
            <li><span>Открытие<br>Фреш-бара</span>        <a href="#"><img src="/images/pics/1.jpg" width="242" height="290" alt=""/></a></li>
            <li><span>Ремонт спальни</span>             <a href="#"><img src="/images/pics/2.jpg" width="242" height="290" alt=""/></a></li>
            <li><span>Семейный отдых<br>в Тайланде</span>  <a href="#"><img src="/images/pics/3.jpg" width="242" height="290" alt=""/></a></li>
            <li><span>Семейный отдых<br>в Египте</span>    <a href="#"><img src="/images/pics/4.jpg" width="242" height="290" alt=""/></a></li>
        </ul>
    </div>
</div>

<div class="block_4">
    <h5>Пресса о нас</h5>
    <div class="news_block">
        <div class="news_block_left">
            <img src="/img/news_h1.jpg"  width="190" height="32" alt=""/>
            <p>France was accused of jeopardising one of David Cameron’s G8 priorities today by limiting the scope of trans-Atlantic trade talks. The head of the European Commission hit out at President Hollande for insisting on special protections for the French film industry. Jose Manuel…</p>
            <a href="#"class="detal">подробнее<img src="/img/a.detal.png" width="8" height="10"></a>
        </div>
        <div class="news_block_right">
            <img src="/img/news_h2.jpg"  width="51" height="39" alt=""/>
            <p>France was accused of jeopardising one of David Cameron’s G8 priorities today by limiting the scope of trans-Atlantic trade talks. The head of the European Commission hit out at President Hollande for insisting on special protections for the French film industry. Jose Manuel…</p>
            <a href="#" class="detal">подробне<img src="/img/a.detal.png" width="8" height="10"></a>
        </div>
    </div>
</div>
<script type="text/javascript">
    <!--
    $(document).ready(function(){
        $('.decor_b1,.decor_b2').hide();
        $('.block_3').ready(function(){
            var pos = $('.block_3').height()+1;
            $('.decor_b4').css({top:125,height: pos});
            $('.decor_b3').css({top:125+pos, left:0, width:'100%', height: $(document).height()-(125+pos)});
        });


    });
    -->
</script>