<div class="block_1 blue">
    <div class="screen">
        <div id='coin-slider'>
        	<a href="#">
        		<img src='/images/index_slider/1.jpg' width="781" height="370" >
        		<span>
        			<!-- Description for img01 -->
        		</span>
        	</a>
        
            <a href="#">
        		<img src='/images/index_slider/2.jpg'  width="781" height="370">
        		<span>
        			<!-- Description for img02 -->
        		</span>
        	</a>
            
            <a href="#">
        		<img src='/images/index_slider/3.jpg'  width="781" height="370">
        		<span>
        			<!-- Description for img03 -->
        		</span>
        	</a>
        </div>
    </div>
        <div class="box_1">
            <p>реализованных<br>проектов</p>
            <div class="digits big">358</div>
        </div>
        <div class="box_1">
            <p>на сумму</p>
            <div class="digits">1 235 544<span>&#8372;</span></div>
        </div>
        <div class="box_1">
            <p>проекты, получившие средства</p>
            <div class="digits">105 <span>из</span> 154</div>
        </div>
        <div class="box_1">
            <p>процент возврата займов</p>
            <div class="digits">93<span>%</span></div>
        </div>    
</div>
<div class="block_2">
    <div class="menu_box">
        <ul>
            <li class="inv"><a href="#"><span>для<br>инвесторов</span></a></li>
            <li class="deb"><a href="#"><span>для<br>заемщиков</span></a></li>
            <li class="ent"><a href="#"><div><span>вход<br>регистрация</span><span class="arr">&rarr;</span></div></a></li>
        </ul>
    </div>
    <div class="text_box">
        <h3>ТОП-10 проектов:</h3>
        <ul>
            <li>Ремонт крыши детского дома в Яремче</li>
            <li>Запуск цеха по производству дорожных сумок. Бровары</li>
            <li>Открытие детского летнего лагеря в Ялте</li>
            <li>Закупка оборудования для отделения неонаталогии. Львов</li>
        </ul>
    </div>
</div>

<div class="block_3">
    <div class="slider_index_block">
        <div class="prev"></div>
        <div class="next"></div>
        <div id="slider_index">
            <ul>
                <li><span>строительство бц Южный / Полтава</span>   <a href="#"><img src="/images/slider/1.jpg" width="207" height="290" alt=""/></a></li>
                <li><span>конференция чистый город</span>           <a href="#"><img src="/images/slider/2.jpg" width="207" height="290" alt=""/></a></li>
                <li><span>спасение жизни</span>                     <a href="#"><img src="/images/slider/3.jpg" width="207" height="290" alt=""/></a></li>
                <li><span>конференция чистый город</span>           <a href="#"><img src="/images/slider/4.jpg" width="207" height="290" alt=""/></a></li>
                <li><span>строительство бц Южный / Полтава</span>   <a href="#"><img src="/images/slider/5.jpg" width="207" height="290" alt=""/></a></li>      
            </ul>
        </div>
    </div>
    <div class="box_2"><div>Развитие стартапов<span><br>05/05/2013 тренинг</span></div></div>
    <a href="#" class="bnr"><img src="/images/bnr/000000.jpg" width="348" height="196" alt=""></a>
</div> 

<div class="block_4">
    <h5>Пресса о нас</h5>
    <div class="news_block">
        <div class="news_block_left">
            <img src="/img/news_h1.jpg"  width="190" height="32" alt=""/>  
            <p>France was accused of jeopardising one of David Cameron’s G8 priorities today by limiting the scope of trans-Atlantic trade talks. The head of the European Commission hit out at President Hollande for insisting on special protections for the French film industry. Jose Manuel…</p>
            <a href="#"class="detal">подробнее<img src="/img/a.detal.png" width="8" height="10"></a>
        </div>
        <div class="news_block_right">
            <img src="/img/news_h2.jpg"  width="51" height="39" alt=""/>
            <p>France was accused of jeopardising one of David Cameron’s G8 priorities today by limiting the scope of trans-Atlantic trade talks. The head of the European Commission hit out at President Hollande for insisting on special protections for the French film industry. Jose Manuel…</p>
            <a href="#" class="detal">подробне<img src="/img/a.detal.png" width="8" height="10"></a>
        </div>
    </div>
</div> 

<script type="text/javascript">
	$(document).ready(function() {
		$('#coin-slider').coinslider({ width: 780, height: 370, titleSpeed: 1500, hoverPause: true, navigation: false, delay: 5000 });
	});
</script>
