<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; windows-1251">
<meta name="description" content="" >
<meta name="keywords" content="" >
<title>7 stars</title>

    <link rel="shortcut icon" href="/favicon.ico"> 
    <link rel="stylesheet" type="text/css" href="/css/style.css" >
    <link rel="stylesheet" type="text/css" href="/css/form-style.css" >
    <!--[if IE 7]><link rel='stylesheet' type='text/css' href='/css/ie7.css'/><![endif]-->

    <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script> 
    <script type="text/javascript" src="/js/jquery-ui-1.10.3.custom.min.js"></script> 
    <script type="text/javascript" src="/js/jcarousellite.js"></script>
    <script type="text/javascript" src="/js/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="/js/fade-plugin.js"></script>
    <script type="text/javascript" src="/js/form_style.js"></script>
    <script type="text/javascript" src="/js/coin-slider.min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>


</head>
<body>
    <div class='wrapper'>
    <a href="#" class="logo"><img src="img/logo.png" width="185" height="65" alt=""></a>
    <div class="decor_top"></div>
    <div class="decor_soc">
        <ul>
            <li><a href="#"><span class="tw"></span>twitter</a></li>
            <li><a href="#"><span class="fb"></span>facebook</a></li>
            <li><a href="#"><span class="yt"></span>youtube</a></li>
            <li><a href="#"><span class="vk"></span>vkontakte</a></li>
        </ul>
    </div>
    <div class="decor_b1"></div>
    <div class="decor_b2"></div>
    <div class="decor_b3"></div>
    <div class="decor_b4"></div>
        <div class="container">
            <div class="menu_main">
                <ul class="menu">
                    <li><a href="?f=index">Как это работает</a>
                        <ul>
                            <li><a href="#">Принципы системы</a></li>
                            <li><a href="#">Как создать новый проект</a></li>
                            <li><a href="#">Риски и Гарантии</a></li>
                            <li><a href="#">Правила системы</a></li>
                            <li><a href="#">О взаимном кредитовании</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Проекты</a></li>
                    <li><a href="?f=investor">Для инвесторов</a>
                        <ul>
                            <li><a href="#">Почему Мы</a></li>
                            <li><a href="#">Риски и Гарантии</a></li>
                            <li><a href="#">Как стать инвестором - текстовая подача</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Документы / юр. Оформление сделки</a></li>
                        </ul>
                    </li>
                    <li><a href="?f=debtor">Для заемщиков</a>
                        <ul>
                            <li><a href="#">Почему Мы</a></li>
                            <li><a href="#">Как стать заемщиком</a></li>
                            <li><a href="#">Создать проект</a></li>
                            <li><a href="#">Риски и гарантии</a></li>
                            <li><a href="#">Часто задаваемые вопросы</a></li>
                        </ul>
                    </li>
                    <li><a href="#">О нас</a>
                        <ul>
                            <li><a href="#">О нас</a></li>
                            <li><a href="#">Пресс-центр</a></li>
                            <li><a href="#">Агенты</a></li>
                            <li><a href="#">О взаимном инвестировании</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                    </li>
                    <li><a href="#" onclick="show_login(); return false;">Вход/Регистрация</a></li>
                </ul>
                <div class="clear"></div>
                <div class="btn_cont">
                    <div class="btn_inv">Стать инвестором<span></span></div>
                    <div class="btn_deb">Стать заемщиком</div>
                </div>
            </div>
            <div class="clear"></div>
            <?include("$file.html")?>
            <div class="seo_text">
                <p>Уведомление об ответственности</p>
                <p>Информация, содержащаяся на данном сайте предназначена для общего сведения и для целей тестирования. Информация и услуги предоставлены компанией СА инновейшн венчурс, и хотя мы стараемся поддерживать информацию в актуальном состоянии и в состоянии корректного функционирования, мы не даем никаких гарантий, явных или косвенных, относительно полноты, точности, надежности, пригодности или доступности в отношении веб-сайта или информации, продуктов, услуг или связанных с ними графических элементов, содержащихся на сайте.</p>
                <p>Мы не несем ответственности за какие-либо убытки или ущерб, включая, без ограничений, прямые или косвенные финансовые убытки или ущерб, или любую потерю или ущерб, связанные с потерей данных или прибыли, вытекающие из или в связи с использованием данного веб-сайта и услуг.</p>
                <p>На этом сайте вы можете перейти по ссылкам на сайты, которые не находятся под контролем СА инновейшн венчурс. У нас нет контроля над природой, содержанием и доступностью этих сайтов. Наличие на нашем сайте любой ссылки не обязательно означает рекомендации,  выводы или мнения, выраженные в них.</p>
                <p><b>Мы делаем все возможное, чтобы сохранить работу веб-сайта и услуг в работоспособном состоянии. Тем не менее, СА инновейшн венчурс не несет ответственности и не будет нести ответственность за, ситуацию, когда сайт временно недоступен по техническим причинам по независящим от нас обстоятельствам.</b></p>

                <br /><a href="#" class="detal">читать далее</a>
            </div>
        </div>
    </div>
    <div class="footer">
        <div>Все права защищены. ЗАО "Семь звезд" &copy; 2013</div>
        <a href="http://tribalddb.com.ua" class="tribal"><img src="/img/tribal_logo.png" width="75" height="35"></a>
    </div>
    <div class="login-popup">
        <form action="">
            <h6>Вход в систему</h6>
            <div>
                <label>Логин</label>
                <input type="text"/>
            </div>
            <div>
                <label>Пароль</label>
                <input type="password"/>
            </div>
            <a href="#" class="f">Забыли пароль?</a>
            <div class="clear"></div>
            <div>
                <input type="checkbox"/>
                <span>Оставаться в системе</span>
            </div>
            <div class="reg">
                <a href="#">Регистрация</a> на сайте
            </div>
            <div>
                <input type="submit" value="Войти"/>
            </div>
        </form>
    </div>
    <div id="fade"></div>
</body>
</html>