<div class="block_2 view">
    <div class="left-side">
        <h5>Открытие стоматологической клиники</h5>
        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">Идея</a></li>
                <li><a href="#tabs-2">Дополнительные сведенья</a></li>
                <li><a href="#tabs-3">Дополнеительные материалы</a></li>
            </ul>
            
            <div id="tabs-1">
                <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.</p> 
                <p style="text-align: right;">Заемщик: <a href="#">Септимус Малфой</a></p>
                <p><iframe width="558" height="350" src="http://www.youtube.com/embed/1jEheeIaDqI?rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen=""></iframe></p>    
                <div class="share-cont">Поделиться:
                    <a class="fb" href="http://www.facebook.com/sharer.php?noparse=true&u=http://sevenstars.tribalddb.com.ua/&image=http://sevenstars.tribalddb.com.ua/images/imgs/qwer.jpg">facebook</a>
                    <a class="tw" href="http://twitter.com/share?url=http://sevenstars.tribalddb.com.ua/&text=text+text+text">twitter</a>
                    <a class="vk" href="http://vkontakte.ru/share.php?url=http://sevenstars.tribalddb.com.ua/&noparse=true&title=text=text+text+text&description=text=text+text+text&image=http://sevenstars.tribalddb.com.ua/images/imgs/qwer.jpg">вконтакте</a>
                </div>
                <h4>Обсуждение проекта:</h4>
                <div class="comment-list">
                    <div class="comment-item" style="padding-left: 0;">
                        <img src="/images/faces/dsa.jpg" width="45" height="45"  />
                        <p><a href="#">Гермиона Грейнжер:</a> А правда что далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты?
                            <span class="comment-date">10.11.2013 23:43</span>
                        </p>
                    </div>
                    <div class="comment-item" style="padding-left: 50px;">
                        <img src="/images/faces/erwf.jpg" width="45" height="45" />
                        <p><a href="#">Корнелиус Фадж:</a> Истина!  Далеко-далеко  за словесными горами в стране гласных и согласных действительно живут рыбные тексты!
                            <span class="comment-date">10.11.2013 23:53</span>
                        </p>
                    </div>
                    <div class="comment-item" style="padding-left: 50px;">
                        <img src="/images/faces/dsa.jpg" width="45" height="45" />
                        <p><a href="#">Гермиона Грейнжер:</a> Благодарна вам!
                            <span class="comment-date">10.11.2013 23:53</span>
                        </p>
                    </div>
                    <div class="comment-item" style="padding-left: 0;">
                        <img src="/images/faces/erwe.jpg" width="45" height="45" />
                        <p><a href="#">Луциус Малфой:</a> Верно ли,  что меаленький ручеек Даль журчит по всей стране? 
                            <span class="comment-date">10.11.2013 23:53</span>
                        </p>
                    </div>
                </div>
            </div>
        
            <div id="tabs-2"></div>
            
            <div id="tabs-3"></div>
            
        </div>
    </div>
    <div class="right-side">
        <div  style="padding: 23px;">
            <table class="short-stat">
                <tr>
                    <td style="width: 180px;">Инвесторов:</td>
                    <td>Поддержавших:</td>
                </tr>
                <tr>
                    <td><div class="big">15</div></td>
                    <td><div class="big" style="text-align: right;">32</div></td>
                </tr>
                <tr>
                    <td><div class="i3">Необходимо:</div></td>
                    <td><div class="total-summ"><span>грн. </span>65 000</div></td>
                </tr>
            </table>
            <div class="status">
                <div>
                    <span>Собрано:</span>  
                    <div class="total-summ"><span>грн. </span>65 000</div>
                </div>
                <div>
                    <div class="status-track">
                        <div class="status-bar green" style="width: 30%;"></div>
                    </div>
                </div>
                <div>
                    <span>Осталось:</span>
                    <div class="total-summ"><span>грн. </span>35 дней</div>
                </div>
                <div>
                    <div class="status-track">
                        <div class="status-bar blue" style="width: 60%;"></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="pl">
                <img src="/img/inv-plash.png" />
            </div>
            <form action="" method="">
                <table class="quick-inv">
                    <tr>
                        <td style="width: 200px;">СУММА (грн.)
                            <div class="error">неверно введенная сумма</div>
                        </td>
                        <td><input type="text" /></td>
                    </tr>
                    <tr>
                        <td>СТАВКА (%)</td>
                        <td><input type="text" /></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /> Безвозвратный взнос</td>
                        <td><input type="submit" value="Отправить" /></td>
                    </tr>
                </table>
            </form>
            
            <h5>Заемщик:</h5>
            <div class="quote">
                <img src="/images/faces/erwq.jpg"  width="70" height="70" />
                <span style="color: #05aee8;">Рейтинг доверия: <span style="color: black">ААА</span> <div class="ask">?</div></span>
                <p>Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. </p>
                <a href="#" class="detal">подробнее</a>
            </div>
            
            <h5>Заключение агента:</h5>
            <div class="quote">
                <img src="/images/faces/qwer.jpg"  width="70" height="70" />
                <span class="name">Имя: <a href="#">Корнелиус Фадж:</a></span>
                <p>Истину глаголит Корнелиус фадж! Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. </p>
                <a href="#" class="detal">подробнее</a>
            </div>
        </div>
    </div>

</div>

<div class="block_4 mod">
    <div class="img_cont">
        <ul>
            <li><span>Открытие<br>Фреш-бара</span>         <a href="#"><img src="/images/pics/1.jpg" width="242" height="290" alt=""/></a></li>
            <li><span>Ремонт спальни</span>                <a href="#"><img src="/images/pics/2.jpg" width="242" height="290" alt=""/></a></li>
            <li><span>Семейный отдых<br>в Тайланде</span>  <a href="#"><img src="/images/pics/3.jpg" width="242" height="290" alt=""/></a></li>
            <li><span>Семейный отдых<br>в Египте</span>    <a href="#"><img src="/images/pics/4.jpg" width="242" height="290" alt=""/></a></li>
        </ul>
    </div>
</div>

<div class="block_4">
    <h5>Пресса о нас</h5>
    <div class="news_block">
        <div class="news_block_left">
            <img src="/img/news_h1.jpg"  width="190" height="32" alt=""/>  
            <p>France was accused of jeopardising one of David Cameron’s G8 priorities today by limiting the scope of trans-Atlantic trade talks. The head of the European Commission hit out at President Hollande for insisting on special protections for the French film industry. Jose Manuel…</p>
            <a href="#"class="detal">подробнее<img src="/img/a.detal.png" width="8" height="10"></a>
        </div>
        <div class="news_block_right">
            <img src="/img/news_h2.jpg"  width="51" height="39" alt=""/>
            <p>France was accused of jeopardising one of David Cameron’s G8 priorities today by limiting the scope of trans-Atlantic trade talks. The head of the European Commission hit out at President Hollande for insisting on special protections for the French film industry. Jose Manuel…</p>
            <a href="#" class="detal">подробне<img src="/img/a.detal.png" width="8" height="10"></a>
        </div>
    </div>
</div> 
<script type="text/javascript">
<!--
$(document).ready(function(){
    $("#tabs").tabs();
    $("#tabs li").click(function(){
        decor2();
    });
    decor2();
}); 	
-->
</script>